/* Main */

body {
  margin: 0;
  margin-top: 0px;
  font-family: 'Dosis', sans-serif;
  border: 5px solid black;
  position: relative;
}

header {
  position: fixed;
  border: 10px solid black;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #FFFFFF;
  font-weight: bold;
  overflow: hidden;
  z-index: 100;
}

header * {
  display: inline;
  height: 50px;
}

header ul {
  padding: 0;
}

header li {
  margin-left: 20px;
}

section {
  height: 500px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
 
}

footer {
  text-align: center;
  padding: 10px;
  height: 20px;
  border: 5px solid black;
}

/* Fonts */

#hero h1 {
  font-size: 3em;
}

section h2 {
  font-size: 2em;
}

section h3 {
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: black;
}

/* Style The Dropdown Button */

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
  float: right;
  overflow: visible;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  height: 300px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #FFFFFF;
  color: black;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
