body {
    margin: 0;
    margin-top: 50px;
    font-family: avenir next;
}

header {
    display: flex;
    position: fixed;
    border: 10px solid black;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #FFFFFF;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    /* Add this line */
    background-position: center center;
    /* Add this line */
    background-repeat: no-repeat;
    /* Add this line */
    background-attachment: fixed;
    /* Add this line */
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    height: 20px;
    border: 10px solid black;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://media-exp1.licdn.com/dms/image/C4E16AQEznDqz2iVYvw/profile-displaybackgroundimage-shrink_350_1400/0?e=1587600000&v=beta&t=oXUX49JScjIfth2y5R0SZ0u4H2XNJjJ0EFSHt9QoJDw');
}

#about {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://lh3.googleusercontent.com/nl7K2pudkBEhARue9lwQqe-CidyAWPtShOouGUWtNfiliAWbDGTKIOuIrQY9OA0QTfxBgytJhwAFxAJ9CxAegzhwzHh8VrVBX4bPb2u13g_M_zOdU2NDL9oc4YLM0y9rIQRAp6Q7Pk4eDttcZD6o-IWXyfdczgR-6JRagJFTAFy0UebkBKZ5LXHQTP_87bYdbSo7uuF0AGBVQs70z0eMAPtQScLQZ0rI8zpOh6A6i2N9zblccQsLF_fpnO_Ryg3s2LPdzfmRDYzlMuwaGJK5orl4iK21ajGGx7t9xPAXlU7s-dVuSoaog7lfIJcu5vYQazzde3uso57mblutrC4U_Y119OjHkcON4gEfg01phfylyHf-qslgIbcyRNgoIKURKjlLJAs2RXgWB-3yFmHkKUHoKmh_ipQ0we-PplH0aqqAd1HauH5Yb9dLb_jc7CvqDIJL1wc1Lwc0QCUyczKpPd39kZ3Es2iDNlhDwoBUj01PVkxnHph7Va6BZCU3Ul9iQ0GfxG-lBu_bw_PRcQff8ulmK3lBE0ZHTIGK_2TnUANIMEPBnyLWdxstpx0hIxjRp7WzWU6EEgt639L5bAbTbOCkyBOQfz7A8Me2zVqb5Ct6NqXjpQ6kc9vEzpJZgsDiKWLKDOC7BbP8d2Qvu__IafCtsHoOB5xq72CNW5QhQxlZ4vydFoIjYSo=w2222-h1666');
}

#work {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://lh3.googleusercontent.com/JfHfVyrFl37kup5_zuBZu6c_ojGehV8jGiWEXybKBKK3-4hH4x_zKqp__ybCX2wx7sB68uWcXMtQIctScgCYUVoqNoiFelJA2IlpLo03uRvX-CAxkEwiQkFdmjdfY4pA3P3h-9kb5yJ6fBQX3m9Nflp011iJ6zTGIDJykBxKQSc7rf-hKKXKwK7Lm2xgKEt7NVPB--Ejb4SNsojl-m-1aVDUAHKcnIcofV1DMzB1XoK4xN492XnLVm5dukq8u1G3aLXxCI373eiDjoaiA4f_nwZmn1ZzSJwd9ICHL-Wg-ETVp8xVil39ZTH5qvh9aD7RrccoeTel63Y875aRsUb_RoeSvdQ6e-eofenIguNf_hRidazMAyiCvKdnQTc8b6dswYSJ5gJMXA_f7jOHpDxvGNFPzZdiunCUVPBmtlFnTkxuGgz2hX5c3TnbzuIYnj5Y0zzL-KXaZ3isGBQCIzH5shpKBLuRgz8rdRdaT4yNT-Y5wcZFb4G7uz9ppM4i7wQdbAOXH6bW6YX--VxWxoDABUOu21HwsjatlUXCwQ4ErOZMrm1jmumoG6Hr8hArVDcPCVGuuhP95EIVaP_auf6k5fvUZwDJgVASntiXTpGpu9gSmpvMWbwpmTJb92O45GvcaEXkwrzPp7L9UtksXs2zsREme1ZjKEJ8XNU5v-O0c0H0wmw8g53VOOc=w2264-h1666');
}

#maps {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://lh3.googleusercontent.com/JfHfVyrFl37kup5_zuBZu6c_ojGehV8jGiWEXybKBKK3-4hH4x_zKqp__ybCX2wx7sB68uWcXMtQIctScgCYUVoqNoiFelJA2IlpLo03uRvX-CAxkEwiQkFdmjdfY4pA3P3h-9kb5yJ6fBQX3m9Nflp011iJ6zTGIDJykBxKQSc7rf-hKKXKwK7Lm2xgKEt7NVPB--Ejb4SNsojl-m-1aVDUAHKcnIcofV1DMzB1XoK4xN492XnLVm5dukq8u1G3aLXxCI373eiDjoaiA4f_nwZmn1ZzSJwd9ICHL-Wg-ETVp8xVil39ZTH5qvh9aD7RrccoeTel63Y875aRsUb_RoeSvdQ6e-eofenIguNf_hRidazMAyiCvKdnQTc8b6dswYSJ5gJMXA_f7jOHpDxvGNFPzZdiunCUVPBmtlFnTkxuGgz2hX5c3TnbzuIYnj5Y0zzL-KXaZ3isGBQCIzH5shpKBLuRgz8rdRdaT4yNT-Y5wcZFb4G7uz9ppM4i7wQdbAOXH6bW6YX--VxWxoDABUOu21HwsjatlUXCwQ4ErOZMrm1jmumoG6Hr8hArVDcPCVGuuhP95EIVaP_auf6k5fvUZwDJgVASntiXTpGpu9gSmpvMWbwpmTJb92O45GvcaEXkwrzPp7L9UtksXs2zsREme1ZjKEJ8XNU5v-O0c0H0wmw8g53VOOc=w2264-h1666');
}

#photos {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://lh3.googleusercontent.com/nl7K2pudkBEhARue9lwQqe-CidyAWPtShOouGUWtNfiliAWbDGTKIOuIrQY9OA0QTfxBgytJhwAFxAJ9CxAegzhwzHh8VrVBX4bPb2u13g_M_zOdU2NDL9oc4YLM0y9rIQRAp6Q7Pk4eDttcZD6o-IWXyfdczgR-6JRagJFTAFy0UebkBKZ5LXHQTP_87bYdbSo7uuF0AGBVQs70z0eMAPtQScLQZ0rI8zpOh6A6i2N9zblccQsLF_fpnO_Ryg3s2LPdzfmRDYzlMuwaGJK5orl4iK21ajGGx7t9xPAXlU7s-dVuSoaog7lfIJcu5vYQazzde3uso57mblutrC4U_Y119OjHkcON4gEfg01phfylyHf-qslgIbcyRNgoIKURKjlLJAs2RXgWB-3yFmHkKUHoKmh_ipQ0we-PplH0aqqAd1HauH5Yb9dLb_jc7CvqDIJL1wc1Lwc0QCUyczKpPd39kZ3Es2iDNlhDwoBUj01PVkxnHph7Va6BZCU3Ul9iQ0GfxG-lBu_bw_PRcQff8ulmK3lBE0ZHTIGK_2TnUANIMEPBnyLWdxstpx0hIxjRp7WzWU6EEgt639L5bAbTbOCkyBOQfz7A8Me2zVqb5Ct6NqXjpQ6kc9vEzpJZgsDiKWLKDOC7BbP8d2Qvu__IafCtsHoOB5xq72CNW5QhQxlZ4vydFoIjYSo=w2222-h1666');
}

#contact {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://lh3.googleusercontent.com/2CJYIhJX1M2ytOM5Fk0HbKDJDw6xCNbkJ3p1xtBJW3rNhrTb50yTLjFOmgTQD2G4EdKgxyk7IsQcLReWhvI4MUQ1jAFaIL1JigaHYUqpe3uQbQSS1a69UxsNa06Gcc1LrfJXq7YkJswdefERsSrqWOU5RAhFzt_tUrb25Mn8zh77440AfPRTE6VjerREltExZUakBD_3g-AjkTBWz2r7uBbi74lfUiLgcV5-tBuChfr-HvbZaGC53qark51OdE2onCCxM3RmvdgwUjOALq8uA-ow2_htraulv086Gv9zoQlLUHe8TaqBY0ANMdMXRea9q_rSiw34xCt7x_x3Pd5DpMWvX9GahJbZwdhrVN3lzPOicdiBuSQrVdURSxaddwoQhmuaIzcwXIM26UcInSOoVlxLNAFbmnhk4fcUzuC1UAUsCCRwaZbbb7FBoF-5RoZ0ZJj2nBKYMpDkhBXLKNUFcnC0caJUExwBhp2Pd3ww1r3sych19B8ARm3yCAOf_yR4cJItHoXQlgvAddo4aYUAM3111U8dRLPdvxs5cA3l6laQz4dH-j9k6OgJI6Nxxs2mFGhqu0zMT7UWr5acACJ3OeOJikl53crLpOMzeEeqXjDbhgZj9-Zany91a7_I99eyncVqOGDoe6Oc3SjyHATLzvEYSJ-CjXD58CgtzXyKXdPdNkzGUvc-FAc=w2222-h1666');
}
